SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=mssql
DB_NAME=homework_bd
DB_USER=sa
DB_PASSWORD=your-password-here
DB_HOST=YOUR-PC\SQLEXPRESS
DB_PORT=1433

SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=admin
